<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contract.mapper.TContractMapper">
    
    <resultMap type="TContract" id="TContractResult">
        <result property="id"    column="id"    />
        <result property="empId"    column="emp_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="name"    column="name"    />
        <result property="enclosure"    column="enclosure"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="contractStatus"    column="contract_status"    />
        <result property="accessStu"    column="access_stu"    />
        <result property="sealId"    column="seal_id"    />
        <result property="sealStatus"    column="seal_status"    />
    </resultMap>

    <sql id="selectTContractVo">
        select id, emp_id, customer_id, name, enclosure, type, status, add_time, update_time, add_user_id, update_user_id, contract_status, access_stu, seal_id, seal_status from t_contract
    </sql>

    <select id="selectTContractList" parameterType="TContract" resultMap="TContractResult">
        <include refid="selectTContractVo"/>
        <where>  
            <if test="empId != null "> and emp_id = #{empId}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="enclosure != null  and enclosure != ''"> and enclosure = #{enclosure}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="addUserId != null "> and add_user_id = #{addUserId}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="contractStatus != null "> and contract_status = #{contractStatus}</if>
            <if test="accessStu != null  and accessStu != ''"> and access_stu = #{accessStu}</if>
            <if test="sealId != null "> and seal_id = #{sealId}</if>
            <if test="sealStatus != null  and sealStatus != ''"> and seal_status = #{sealStatus}</if>
        </where>
    </select>
    
    <select id="selectTContractById" parameterType="Long" resultMap="TContractResult">
        <include refid="selectTContractVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTContract" parameterType="TContract" useGeneratedKeys="true" keyProperty="id">
        insert into t_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empId != null">emp_id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="name != null">name,</if>
            <if test="enclosure != null">enclosure,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="addTime != null">add_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="addUserId != null">add_user_id,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="contractStatus != null">contract_status,</if>
            <if test="accessStu != null">access_stu,</if>
            <if test="sealId != null">seal_id,</if>
            <if test="sealStatus != null">seal_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empId != null">#{empId},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="name != null">#{name},</if>
            <if test="enclosure != null">#{enclosure},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="addUserId != null">#{addUserId},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="contractStatus != null">#{contractStatus},</if>
            <if test="accessStu != null">#{accessStu},</if>
            <if test="sealId != null">#{sealId},</if>
            <if test="sealStatus != null">#{sealStatus},</if>
         </trim>
    </insert>

    <update id="updateTContract" parameterType="TContract">
        update t_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="empId != null">emp_id = #{empId},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="enclosure != null">enclosure = #{enclosure},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="addUserId != null">add_user_id = #{addUserId},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="contractStatus != null">contract_status = #{contractStatus},</if>
            <if test="accessStu != null">access_stu = #{accessStu},</if>
            <if test="sealId != null">seal_id = #{sealId},</if>
            <if test="sealStatus != null">seal_status = #{sealStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTContractById" parameterType="Long">
        delete from t_contract where id = #{id}
    </delete>

    <delete id="deleteTContractByIds" parameterType="String">
        delete from t_contract where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <resultMap type="map" id="contractResult">
        <result property="id"    column="id"    />
        <result property="empId"    column="emp_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="name"    column="name"    />
        <result property="enclosure"    column="enclosure"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="contractStatus"    column="contract_status"    />
        <result property="accessStu"    column="access_stu"    />
        <result property="sealId"    column="seal_id"    />
        <result property="sealStatus"    column="seal_status"    />
        <result property="cname"        column="cname"/>
        <result property="phone"        column="phone"/>
        <result property="ename" column="ename"/>
    </resultMap>

    <select id="selectContractCustomerEmpAll" parameterType="TContract" resultMap="contractResult">
        select t_contract.id, t_contract.emp_id, t_contract.customer_id, t_contract.name, t_contract.enclosure, t_contract.type, t_contract.status, t_contract.add_time, t_contract.update_time, t_contract.add_user_id, t_contract.update_user_id, t_contract.contract_status, t_contract.access_stu, t_contract.seal_id, t_contract.seal_status,
               t_customer.cname, t_customer.phone, t_emp.ename
        from t_contract
        join t_customer
            on t_customer.c_id = t_contract.customer_id
        join t_emp
            on t_emp.e_id = t_contract.emp_id
    </select>

</mapper>