<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contract.mapper.TEmpMapper">
    
    <resultMap type="TEmp" id="TEmpResult">
        <result property="eId"    column="e_id"    />
        <result property="eAcount"    column="e_acount"    />
        <result property="ename"    column="ename"    />
        <result property="tel"    column="tel"    />
        <result property="jobId"    column="job_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="status"    column="status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="dname"    column="dname"    />
        <result property="job"    column="job"    />
    </resultMap>

    <sql id="selectTEmpVo">
--         select e_id, e_acount, ename, tel, job_id, dept_id, status, add_time, update_time, add_user_id, update_user_id, dname, job from t_emp
        select e_id, a.job_id, a.dept_id, e_acount, ename, tel, b.job, c.dname, status, a.add_time, a.update_time, a.add_user_id, a.update_user_id
        from t_emp a join t_job b on a.job_id = b.job_id left join t_dept c on a.dept_id = c.dept_id
    </sql>

    <select id="selectTEmpList" parameterType="TEmp" resultMap="TEmpResult">
        <include refid="selectTEmpVo"/>
        <where>  
            <if test="eAcount != null  and eAcount != ''"> and e_acount = #{eAcount}</if>
            <if test="ename != null  and ename != ''"> and ename like concat('%', #{ename}, '%')</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
            <if test="jobId != null "> and job_id = #{jobId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="addUserId != null "> and add_user_id = #{addUserId}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="dname != null  and dname != ''"> and c.dname like concat('%', #{dname}, '%')</if>
            <if test="job != null  and job != ''"> and b.job = #{job}</if>
        </where>
    </select>
    
    <select id="selectTEmpByEId" parameterType="Long" resultMap="TEmpResult">
        <include refid="selectTEmpVo"/>
        where e_id = #{eId}
    </select>
        
    <insert id="insertTEmp" parameterType="TEmp" useGeneratedKeys="true" keyProperty="eId">
        insert into t_emp
      
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eAcount != null and eAcount != ''">e_acount,</if>
            <if test="ename != null and ename != ''">ename,</if>
            <if test="tel != null and tel != ''">tel,</if>
            <if test="jobId != null">job_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="addTime != null">add_time,</if>
            add_time,
            <if test="updateTime != null">update_time,</if>
            <if test="addUserId != null">add_user_id,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="dname != null and dname != ''">dname,</if>
            <if test="job != null and job != ''">job,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eAcount != null and eAcount != ''">#{eAcount},</if>
            <if test="ename != null and ename != ''">#{ename},</if>
            <if test="tel != null and tel != ''">#{tel},</if>
            <if test="jobId != null">#{jobId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="addTime != null">sysdate(),</if>
            sysdate(),
            <if test="updateTime != null">#{updateTime},</if>
            <if test="addUserId != null">#{addUserId},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
<!--            <if test="dname != null and dname != ''">#{dname},</if>-->
<!--            <if test="job != null and job != ''">#{job},</if>-->
         </trim>
    </insert>

    <update id="updateTEmp" parameterType="TEmp">
        update t_emp
        <trim prefix="SET" suffixOverrides=",">
            <if test="eAcount != null and eAcount != ''">e_acount = #{eAcount},</if>
            <if test="ename != null and ename != ''">ename = #{ename},</if>
            <if test="tel != null and tel != ''">tel = #{tel},</if>
            <if test="jobId != null">job_id = #{jobId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = sysdate(),</if>
            <if test="addUserId != null">add_user_id = #{addUserId},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="dname != null and dname != ''">dname = #{dname},</if>
            <if test="job != null and job != ''">job = #{job},</if>
        </trim>
        where e_id = #{eId}
    </update>

    <delete id="deleteTEmpByEId" parameterType="Long">
        delete from t_emp where e_id = #{eId}
    </delete>

    <delete id="deleteTEmpByEIds" parameterType="String">
        delete from t_emp where e_id in 
        <foreach item="eId" collection="array" open="(" separator="," close=")">
            #{eId}
        </foreach>
    </delete>
    <update id="updateTEmpStatus" parameterType="TEmp">
 		update t_emp set status = #{status} where e_id = #{eId}
	</update>
</mapper>